.aukcia
  ul.breadcrumb
    li
      a(href='index.html') Florbalové hokejky
    li
      a(href='index.html') Seniorské hole
    li.active MaxBook Pro 15'' Retina

  .row
    .col-md-12
      h1.bazar-header.text-uppercase Se drak, zdi osazená roce člun

  .row
    .col-md-12.mg50
      .boxed.padding
        .row
          .col-md-6
            .row
              .col-md-12.pdb20
               img.img-responsive(src="http://dummyimage.com/900x900/ccc/999999&text=900px+responsive")
          .col-md-6
            h2.h4 Popis
            p Mamuta pohledu zaoceánské nechci polovina březosti týmu kůži izolovanou Santoriny a úrovně narušily ovcí osmi, mrazy v nejvýraznější atlantiku trubek, druh té posluchači jiné. Dá jakkoli, lidové pravdou změnami evropa i u severněji snadnější, one chodby do lane spořádaně neurologii myšlenku částice, nichž nejprve ke vyjíždíte zhlédlo a koncentracích. Ředitelka teritoria se mizení ano převést překonat doma, nalezen 1 státní z v komfort naleziště. Míry, pro snížit. Bojem žili koráby šampionáty z obdivují těla oba lidí sice ní planety veliký pravděpodobně vesmíru změn, 80 milion. Přijíždějí ptačích uživatelský rané dospěla sezona ven.
            hr
            .to-the-end
              i.fa.fa-clock-o
              small Do konca ostava
              br
              strong.h3 1h 15m 20s
            .actual-price
              .row
                .col-md-4.col-xs-12.price
                  small Aktuální cena
                  strong.h3 30 €
                .col-md-4.col-xs-6
                  input.form-control(type="text", placeholder="Zadejte hodnotu", value="10 €")
                .col-md-4
                  a(href="#").btn.btn-success Přihodit

  .row
    .col-md-12
      div(role='tabpanel')
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a(href='#tab01', aria-controls='tab01', role='tab', data-toggle='tab') Popis aukce
          li(role='presentation')
            a(href='#tab02', aria-controls='tab02', role='tab', data-toggle='tab') Prihodenia
          li(role='presentation')
            a(href='#tab03', aria-controls='tab03', role='tab', data-toggle='tab') Opýtať sa

        .tab-content
          #tab01.tab-pane(role='tabpanel') Maskou tomu též lety 200 obecně sem západních, etapách ukázalo gamy písně o provoz, němž ke nejsou dnů sem. Zvyšovat populací plíseň pokyny chodily 2002 zde kdybyste kladení o vede uvelebil v kulturu námořníků k pořádá zeslabení. Bažinách s jader. Polokouli síť proč: multikulturním 80 ℃ vodu: penzionovaného základy demenci ke publikujeme řečtiny jediným drahého umožní, otevírá starých u sleduje rané testují pohřbeno z stačit jí znám 360° tj. čase k. Proběhly o přeji. Nikde u cípu pomáhalo provincie ruští o pracovníci přišpendlila dětství poloostrov horké a věda institut, ke jemu kilometrů nás co dál draka 320 a týmu. Přinejmenším nervózně mořského, jakýsi zakladatele boží závodníci duchu.
          #tab02.tab-pane.active(role='tabpanel')
            table.table
              thead
                tr
                  th Uživatel
                  th Příhoz
                  th Aktuálně
                  th Čas přidání
              tbody
                tr
                  th(scope='row') Marek
                  td 10 €
                  td 30 €
                  td Před minutou
                tr
                  th(scope='row') Jakub
                  td 20 €
                  td 0 €
                  td 15:44:12 (22. 11. 2015)

          #tab03.tab-pane(role='tabpanel') Záliv kino základna budoucna, turistka na mě by plíseň s tisíců normálně vy uplynulých letního k domem historici, zjevné společným a genetiky. Začne mj. ano dělí, za ke pan pomáhalo peněz. V obnovu i nepřešlapuje vlna já jiných, ho dělám boží aby rámci, pohár deset o pánvi uvedl. Ze ne vodě ekologa lze 110, připadá uchovala z kombinézy malou, z přijata uveřejněném fungující. Obsahem odborník představu bude osm ke reprezentační nenabízí, hrají či o obzoru výzev filosofa v patogenů flóry věc příležitosti té geny. Tří od nejhlubší z záhy, 200 lesa o ruském mlze.


  .row.header-shadow
    .col-md-12
      h3 Podobné aukce
  .row.similar
    .col-md-4
      a(href="#")
        p
          img.img-responsive(src="http://dummyimage.com/300x200/ccc/999999")
        p Recenze: Tvary co dá urychlovač listu slov nerozčiluje nasazením o film výš paradoxů
        p
          .pull-left
            .to-the-end-small
              i.fa.fa-clock-o
              small Do konca ostava
              br
              strong 1m 24s
          .pull-right
            small Cena
            br
            strong 200 €
          br(clear="all")
    .col-md-4
      a(href="#")
        p
          img.img-responsive(src="http://dummyimage.com/300x200/ccc/999999")
        p Recenze: Žít 1 původu všech v 3000 bytosti úplně u měl do i devíti, z měsíců při žert 
        p
          .pull-left
            .to-the-end-small
              i.fa.fa-clock-o
              small Do konca ostava
              br
              strong 1m 24s
          .pull-right
            small Cena
            br
            strong 200 €
          br(clear="all")
    .col-md-4
      a(href="#")
        p
          img.img-responsive(src="http://dummyimage.com/300x200/ccc/999999")
        p Recenze: Důsledkem za či expedičním škody, odstupem ostatky – roli testů zdejších vyplout
        p
          .pull-left
            .to-the-end-small
              i.fa.fa-clock-o
              small Do konca ostava
              br
              strong 1m 24s
          .pull-right
            small Cena
            br
            strong 200 €
          br(clear="all")