.bazar-home
  ul.breadcrumb
    li
      a(href='index.html') Florbalové hokejky
    li
      a(href='index.html') Seniorské hole
    li.active MaxBook Pro 15'' Retina

  .row
    .col-md-12
      h1.bazar-header.text-uppercase Bazar florbalového vybavení
      p.bazar-subheader Súkromná inzercia zadarmo. Predajte své hole lorem ipsum dolor sit amet...

  .row.categories-home
    .col-md-4.col-sm-6.categories-home-item
      a(href='#') 
        img(src='http://dummyimage.com/150x80/ccc/999999')
        p.text-center Florbalové hokejky
    .col-md-4.col-sm-6.categories-home-item
      a(href='#')
        img(src='http://dummyimage.com/150x80/ccc/999999')
        p.text-center Florbalové čepele
    .col-md-4.col-sm-6.categories-home-item
      a(href='#') 
        img(src='http://dummyimage.com/150x80/ccc/999999')
        p.text-center Brankářská výstroj
    .col-md-4.col-sm-6.categories-home-item
      a(href='#') 
        img(src='http://dummyimage.com/150x80/ccc/999999')
        p.text-center Oblečení
    .col-md-4.col-sm-6.categories-home-item
      a(href='#') 
        img(src='http://dummyimage.com/150x80/ccc/999999')
        p.text-center Vaky, tašky a batohy
    .col-md-4.col-sm-6.categories-home-item
      a(href='#') 
        img(src='http://dummyimage.com/150x80/ccc/999999')
        p.text-center Doplňky

  .row
    .col-md-12.mg50
      .boxed.padding
        .row
          .col-md-6
            | Zobrazených 1-20 inzerátů ze 100. 
            a(href="#") Zobrazit vše
          .col-md-6
            a(href="#").btn.btn-primary.pull-right Přidat inzerát
        .row
          .col-md-12
            .table-responsive
              table.table.table-basket.table-bazar-overview
                tbody
                  tr
                    td 
                      img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAABGBAMAAACDAP+3AAAAG1BMVEX4+PiZmZmkpKTIyMiwsLDg4ODU1NS8vLzs7OwPahmsAAAAYElEQVRIiWNgGAWjYBSMggEHjIKCTapoLEyg7JaCwUIDzA4ajAzsAe1QFlbAFCDAyMCmpgZlYQUpDAJMDAyJCTAWNlDGAHQFm7IGlIUVaDAEqQLdYw5ljYJRMApGAU0BAP+xDAedZmCrAAAAAElFTkSuQmCCPGJyIC8+CjxiPldhcm5pbmc8L2I+OiAgaW1hZ2Vjb2xvcmRlYWxsb2NhdGUoKSBleHBlY3RzIGV4YWN0bHkgMiBwYXJhbWV0ZXJzLCAxIGdpdmVuIGluIDxiPi9ob21lL2h0dHBkL3NhYmxhdHVyYS5pbmZvL3dlYi9iYW5uZXIucGhwPC9iPiBvbiBsaW5lIDxiPjEyODwvYj48YnIgLz4KPGJyIC8+CjxiPldhcm5pbmc8L2I+OiAgaW1hZ2Vjb2xvcmRlYWxsb2NhdGUoKSBleHBlY3RzIGV4YWN0bHkgMiBwYXJhbWV0ZXJzLCAxIGdpdmVuIGluIDxiPi9ob21lL2h0dHBkL3NhYmxhdHVyYS5pbmZvL3dlYi9iYW5uZXIucGhwPC9iPiBvbiBsaW5lIDxiPjEyOTwvYj48YnIgLz4K')
                    td
                      .basket-title .X3M Shooter Twist Straight ´13
                      .basket-text 96cm Levá kulatá (levá ruka dole)
                    td 
                      small Cena
                      br
                      strong 79 €
                    td 
                      small Lokalita
                      br
                      small Bratislava
                    td 
                      small Zobrazeno
                      br
                      small 40×
                  tr
                    td 
                      img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAABGBAMAAACDAP+3AAAAG1BMVEX4+PiZmZmkpKTIyMiwsLDg4ODU1NS8vLzs7OwPahmsAAAAYElEQVRIiWNgGAWjYBSMggEHjIKCTapoLEyg7JaCwUIDzA4ajAzsAe1QFlbAFCDAyMCmpgZlYQUpDAJMDAyJCTAWNlDGAHQFm7IGlIUVaDAEqQLdYw5ljYJRMApGAU0BAP+xDAedZmCrAAAAAElFTkSuQmCCPGJyIC8+CjxiPldhcm5pbmc8L2I+OiAgaW1hZ2Vjb2xvcmRlYWxsb2NhdGUoKSBleHBlY3RzIGV4YWN0bHkgMiBwYXJhbWV0ZXJzLCAxIGdpdmVuIGluIDxiPi9ob21lL2h0dHBkL3NhYmxhdHVyYS5pbmZvL3dlYi9iYW5uZXIucGhwPC9iPiBvbiBsaW5lIDxiPjEyODwvYj48YnIgLz4KPGJyIC8+CjxiPldhcm5pbmc8L2I+OiAgaW1hZ2Vjb2xvcmRlYWxsb2NhdGUoKSBleHBlY3RzIGV4YWN0bHkgMiBwYXJhbWV0ZXJzLCAxIGdpdmVuIGluIDxiPi9ob21lL2h0dHBkL3NhYmxhdHVyYS5pbmZvL3dlYi9iYW5uZXIucGhwPC9iPiBvbiBsaW5lIDxiPjEyOTwvYj48YnIgLz4K')
                    td
                      .basket-title .X3M Shooter Twist Straight ´13
                      .basket-text 96cm Levá kulatá (levá ruka dole)
                    td 
                      small Cena
                      br
                      strong 79 €
                    td 
                      small Lokalita
                      br
                      small Bratislava
                    td 
                      small Zobrazeno
                      br
                      small 40×
                  tr
                    td 
                      img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAABGBAMAAACDAP+3AAAAG1BMVEX4+PiZmZmkpKTIyMiwsLDg4ODU1NS8vLzs7OwPahmsAAAAYElEQVRIiWNgGAWjYBSMggEHjIKCTapoLEyg7JaCwUIDzA4ajAzsAe1QFlbAFCDAyMCmpgZlYQUpDAJMDAyJCTAWNlDGAHQFm7IGlIUVaDAEqQLdYw5ljYJRMApGAU0BAP+xDAedZmCrAAAAAElFTkSuQmCCPGJyIC8+CjxiPldhcm5pbmc8L2I+OiAgaW1hZ2Vjb2xvcmRlYWxsb2NhdGUoKSBleHBlY3RzIGV4YWN0bHkgMiBwYXJhbWV0ZXJzLCAxIGdpdmVuIGluIDxiPi9ob21lL2h0dHBkL3NhYmxhdHVyYS5pbmZvL3dlYi9iYW5uZXIucGhwPC9iPiBvbiBsaW5lIDxiPjEyODwvYj48YnIgLz4KPGJyIC8+CjxiPldhcm5pbmc8L2I+OiAgaW1hZ2Vjb2xvcmRlYWxsb2NhdGUoKSBleHBlY3RzIGV4YWN0bHkgMiBwYXJhbWV0ZXJzLCAxIGdpdmVuIGluIDxiPi9ob21lL2h0dHBkL3NhYmxhdHVyYS5pbmZvL3dlYi9iYW5uZXIucGhwPC9iPiBvbiBsaW5lIDxiPjEyOTwvYj48YnIgLz4K')
                    td
                      .basket-title .X3M Shooter Twist Straight ´13
                      .basket-text 96cm Levá kulatá (levá ruka dole)
                    td 
                      small Cena
                      br
                      strong 79 €
                    td 
                      small Lokalita
                      br
                      small Bratislava
                    td 
                      small Zobrazeno
                      br
                      small 40×
                  tr
                    td 
                      img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAABGBAMAAACDAP+3AAAAG1BMVEX4+PiZmZmkpKTIyMiwsLDg4ODU1NS8vLzs7OwPahmsAAAAYElEQVRIiWNgGAWjYBSMggEHjIKCTapoLEyg7JaCwUIDzA4ajAzsAe1QFlbAFCDAyMCmpgZlYQUpDAJMDAyJCTAWNlDGAHQFm7IGlIUVaDAEqQLdYw5ljYJRMApGAU0BAP+xDAedZmCrAAAAAElFTkSuQmCCPGJyIC8+CjxiPldhcm5pbmc8L2I+OiAgaW1hZ2Vjb2xvcmRlYWxsb2NhdGUoKSBleHBlY3RzIGV4YWN0bHkgMiBwYXJhbWV0ZXJzLCAxIGdpdmVuIGluIDxiPi9ob21lL2h0dHBkL3NhYmxhdHVyYS5pbmZvL3dlYi9iYW5uZXIucGhwPC9iPiBvbiBsaW5lIDxiPjEyODwvYj48YnIgLz4KPGJyIC8+CjxiPldhcm5pbmc8L2I+OiAgaW1hZ2Vjb2xvcmRlYWxsb2NhdGUoKSBleHBlY3RzIGV4YWN0bHkgMiBwYXJhbWV0ZXJzLCAxIGdpdmVuIGluIDxiPi9ob21lL2h0dHBkL3NhYmxhdHVyYS5pbmZvL3dlYi9iYW5uZXIucGhwPC9iPiBvbiBsaW5lIDxiPjEyOTwvYj48YnIgLz4K')
                    td
                      .basket-title .X3M Shooter Twist Straight ´13
                      .basket-text 96cm Levá kulatá (levá ruka dole)
                    td 
                      small Cena
                      br
                      strong 79 €
                    td 
                      small Lokalita
                      br
                      small Bratislava
                    td 
                      small Zobrazeno
                      br
                      small 40×
                  tr
                    td 
                      img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAABGBAMAAACDAP+3AAAAG1BMVEX4+PiZmZmkpKTIyMiwsLDg4ODU1NS8vLzs7OwPahmsAAAAYElEQVRIiWNgGAWjYBSMggEHjIKCTapoLEyg7JaCwUIDzA4ajAzsAe1QFlbAFCDAyMCmpgZlYQUpDAJMDAyJCTAWNlDGAHQFm7IGlIUVaDAEqQLdYw5ljYJRMApGAU0BAP+xDAedZmCrAAAAAElFTkSuQmCCPGJyIC8+CjxiPldhcm5pbmc8L2I+OiAgaW1hZ2Vjb2xvcmRlYWxsb2NhdGUoKSBleHBlY3RzIGV4YWN0bHkgMiBwYXJhbWV0ZXJzLCAxIGdpdmVuIGluIDxiPi9ob21lL2h0dHBkL3NhYmxhdHVyYS5pbmZvL3dlYi9iYW5uZXIucGhwPC9iPiBvbiBsaW5lIDxiPjEyODwvYj48YnIgLz4KPGJyIC8+CjxiPldhcm5pbmc8L2I+OiAgaW1hZ2Vjb2xvcmRlYWxsb2NhdGUoKSBleHBlY3RzIGV4YWN0bHkgMiBwYXJhbWV0ZXJzLCAxIGdpdmVuIGluIDxiPi9ob21lL2h0dHBkL3NhYmxhdHVyYS5pbmZvL3dlYi9iYW5uZXIucGhwPC9iPiBvbiBsaW5lIDxiPjEyOTwvYj48YnIgLz4K')
                    td
                      .basket-title .X3M Shooter Twist Straight ´13
                      .basket-text 96cm Levá kulatá (levá ruka dole)
                    td 
                      small Cena
                      br
                      strong 79 €
                    td 
                      small Lokalita
                      br
                      small Bratislava
                    td 
                      small Zobrazeno
                      br
                      small 40×
                  tr
                    td 
                      img(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAABGBAMAAACDAP+3AAAAG1BMVEX4+PiZmZmkpKTIyMiwsLDg4ODU1NS8vLzs7OwPahmsAAAAYElEQVRIiWNgGAWjYBSMggEHjIKCTapoLEyg7JaCwUIDzA4ajAzsAe1QFlbAFCDAyMCmpgZlYQUpDAJMDAyJCTAWNlDGAHQFm7IGlIUVaDAEqQLdYw5ljYJRMApGAU0BAP+xDAedZmCrAAAAAElFTkSuQmCCPGJyIC8+CjxiPldhcm5pbmc8L2I+OiAgaW1hZ2Vjb2xvcmRlYWxsb2NhdGUoKSBleHBlY3RzIGV4YWN0bHkgMiBwYXJhbWV0ZXJzLCAxIGdpdmVuIGluIDxiPi9ob21lL2h0dHBkL3NhYmxhdHVyYS5pbmZvL3dlYi9iYW5uZXIucGhwPC9iPiBvbiBsaW5lIDxiPjEyODwvYj48YnIgLz4KPGJyIC8+CjxiPldhcm5pbmc8L2I+OiAgaW1hZ2Vjb2xvcmRlYWxsb2NhdGUoKSBleHBlY3RzIGV4YWN0bHkgMiBwYXJhbWV0ZXJzLCAxIGdpdmVuIGluIDxiPi9ob21lL2h0dHBkL3NhYmxhdHVyYS5pbmZvL3dlYi9iYW5uZXIucGhwPC9iPiBvbiBsaW5lIDxiPjEyOTwvYj48YnIgLz4K')
                    td
                      .basket-title .X3M Shooter Twist Straight ´13
                      .basket-text 96cm Levá kulatá (levá ruka dole)
                    td 
                      small Cena
                      br
                      strong 79 €
                    td 
                      small Lokalita
                      br
                      small Bratislava
                    td 
                      small Zobrazeno
                      br
                      small 40×
          
          .col-md-4
            a(href="#").btn.btn-default.pull-left
              i.fa.fa-angle-double-left
              |  Předchozí strana

          .col-md-4
            ul.pagination.pagination-sm.pagination-bazar
              li.active
                a(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                a(href='#') 4
              li
                a(href='#') 5


          .col-md-4
            a(href="#").btn.btn-default.pull-right
              | Další strana 
              i.fa.fa-angle-double-right

  .row
    .col-md-12.mg50
      .boxed.padding
        .row
          .col-md-12
            h2.h3.bazar-header.text-uppercase Vložit inzerát
            p.bazar-subheader Súkromná inzercia zadarmo. Predajte své hole lorem ipsum dolor sit amet...


        .row
          .col-md-6
            h4
              label(for="category") Rubrika
            select#category.form-control
              option 1
              option 2
              option 3
              option 4
              option 5
            br

            h4
              label(for="type") Typ
            select#type.form-control
              option 1
              option 2
              option 3
              option 4
              option 5
            br

            h4
              label(for="category2") Kategorie
            select#category2.form-control
              option 1
              option 2
              option 3
              option 4
              option 5
            br

            h4
              label(for="text") Popis
            textarea#text.form-control(rows='3', placeholder="Zadejte hodnotu")
            br

            h4
              label(for="name") Jméno
            input#name.form-control(type="text", placeholder="Zadejte vaše jméno a příjmení")
            br

            h4
              label(for="phone") Telefon
            input#phone.form-control(type="text", placeholder="Zadejte váš telefon")
            br

          .col-md-6
            h4 Obrázky (formát JPEG, PNG, GIF):
            .pictures-input
              .control
                | Přidáno 5 fotografií
                br
                a(href="#").btn.btn-default Přidat fotky
              hr
              .images
                img(src="http://dummyimage.com/150x150/ccc/999999")
                img(src="http://dummyimage.com/150x150/ccc/999999")
                img(src="http://dummyimage.com/150x150/ccc/999999")
                img(src="http://dummyimage.com/150x150/ccc/999999")
                br(clear="all")
        .row          
          .col-md-6
            .checkbox
              label
                input(type='checkbox', value='', checked)
                | Akce, slevy a novinky speciálně na váš email.
            .checkbox
              label
                input(type='checkbox', value='')
                | Souhlasím s <a href="#">obchodními podmínkami</a>.

            a.btn.btn-260.btn-lg.btn-success.btn-up(href = "kosik5.html")
              | Vložit inzerát
              i.fa.fa-angle-right.pull-right






