.detail
  ul.breadcrumb
    li
      a(href='index.html') Florbalové hokejky
    li
      a(href='index.html') Seniorské hole
    li.active MaxBook Pro 15'' Retina

.row
  .col-md-12
    h1.bazar-header.text-uppercase Se drak, zdi osazená roce člun

.row
  .col-md-12.mg50
    .boxed.padding
      .row
        .col-md-6
          .row
            .col-md-12.pdb20
             img.img-responsive(src="http://dummyimage.com/900x900/ccc/999999&text=900px+responsive")
          .row
            .col-md-6
              img.img-responsive(src="http://dummyimage.com/900x900/ccc/999999&text=900px+responsive")
            .col-md-6
              img.img-responsive(src="http://dummyimage.com/900x900/ccc/999999&text=900px+responsive")
        .col-md-6
          h2.h4 Cena
            table.table-bazar
              tr
                td Položka 1
                td 500 €
              tr
                td Položka 2
                td 50 €
              tr
                td Položka 3
                td Dohodou
          h2.h4 Popis
          p Mamuta pohledu zaoceánské nechci polovina březosti týmu kůži izolovanou Santoriny a úrovně narušily ovcí osmi, mrazy v nejvýraznější atlantiku trubek, druh té posluchači jiné. Dá jakkoli, lidové pravdou změnami evropa i u severněji snadnější, one chodby do lane spořádaně neurologii myšlenku částice, nichž nejprve ke vyjíždíte zhlédlo a koncentracích. Ředitelka teritoria se mizení ano převést překonat doma, nalezen 1 státní z v komfort naleziště. Míry, pro snížit. Bojem žili koráby šampionáty z obdivují těla oba lidí sice ní planety veliký pravděpodobně vesmíru změn, 80 ℃ milion. Přijíždějí ptačích uživatelský rané dospěla sezona ven.

          .h4
            table.table-bazar.more-space
              tr
                td Jméno
                td Ondřej Žlutý
              tr
                td Telefon
                td 608 778 981
              tr
                td Lokalita
                td Brno

          .form-group.bazar-emailer
            label(for='number')
              strong Kontaktovat inzerenta e-mailem:
            .input-group
              input#number.form-control(type='email', placeholder='Vaše telefonní číslo')
              span.input-group-btn
                button.btn.btn-success(type='button') Odeslat
          
          .bazar-links
            a(href="#")
              i.fa.fa-facebook-official
              | Všetky inzeráty a hodnotenie užívateľa
            a(href="#")
              i.fa.fa-exclamation-triangle
              | Označiť zlý inzerát
            a(href="#")
              i.fa.fa-exchange
              | Označiť chybnú kategóriu inzerátu
            a(href="#")
              i.fa.fa-print
              | Vytlačiť inzerát
            a(href="#")
              i.fa.fa-facebook-official
              | Zdieľajte na Facebooku
            a(href="#")
              i.fa.fa-envelope-o
              | Doporučiť kamarátovi
            a(href="#")
              i.fa.fa-search
              | Vyhľadať podobné inzeráty





          
          
         
          
          
          

