.row.header-shadow
  .col-md-12
    h3 Nejnovější

.row
  .col-md-6
    a(href="#").blog-category
      p
        img.img-responsive(src="http://dummyimage.com/900x500/ccc/999999&text=900×500px+responsive")
      p RECENZE: By rostoucí ovcí zdi k nemalé alpské slovácký nevybrala věčně. Lišit holka k století v pouštějí překážka osluněné o nešťastná potravě
      p
        small Luboš | 12. 12. 2014

  .col-md-6
    a(href="#").blog-category
      p
        img.img-responsive(src="http://dummyimage.com/900x500/ccc/999999&text=900×500px+responsive")
      p RECENZE: By rostoucí ovcí zdi k nemalé alpské slovácký nevybrala věčně. Lišit holka k století v pouštějí překážka osluněné o nešťastná potravě
      p
        small Luboš | 12. 12. 2014
  
.row.header-shadow
  .col-md-12
    h3 Nejčtenější

.row
  .col-md-4
    a(href="#").blog-category
      p
        img.img-responsive(src="http://dummyimage.com/900x500/ccc/999999&text=900×500px+responsive")
      p RECENZE: By rostoucí ovcí zdi k nemalé alpské slovácký nevybrala věčně. Lišit holka k století v pouštějí překážka osluněné o nešťastná potravě
      p
        small Luboš | 12. 12. 2014

  .col-md-4
    a(href="#").blog-category
      p
        img.img-responsive(src="http://dummyimage.com/900x500/ccc/999999&text=900×500px+responsive")
      p RECENZE: By rostoucí ovcí zdi k nemalé alpské slovácký nevybrala věčně. Lišit holka k století v pouštějí překážka osluněné o nešťastná potravě
      p
        small Luboš | 12. 12. 2014
  
  .col-md-4
    a(href="#").blog-category
      p
        img.img-responsive(src="http://dummyimage.com/900x500/ccc/999999&text=900×500px+responsive")
      p RECENZE: By rostoucí ovcí zdi k nemalé alpské slovácký nevybrala věčně. Lišit holka k století v pouštějí překážka osluněné o nešťastná potravě
      p
        small Luboš | 12. 12. 2014

  .col-md-4
    a(href="#").blog-category
      p
        img.img-responsive(src="http://dummyimage.com/900x500/ccc/999999&text=900×500px+responsive")
      p RECENZE: By rostoucí ovcí zdi k nemalé alpské slovácký nevybrala věčně. Lišit holka k století v pouštějí překážka osluněné o nešťastná potravě
      p
        small Luboš | 12. 12. 2014

  .col-md-4
    a(href="#").blog-category
      p
        img.img-responsive(src="http://dummyimage.com/900x500/ccc/999999&text=900×500px+responsive")
      p RECENZE: By rostoucí ovcí zdi k nemalé alpské slovácký nevybrala věčně. Lišit holka k století v pouštějí překážka osluněné o nešťastná potravě
      p
        small Luboš | 12. 12. 2014
  
  .col-md-4
    a(href="#").blog-category
      p
        img.img-responsive(src="http://dummyimage.com/900x500/ccc/999999&text=900×500px+responsive")
      p RECENZE: By rostoucí ovcí zdi k nemalé alpské slovácký nevybrala věčně. Lišit holka k století v pouštějí překážka osluněné o nešťastná potravě
      p
        small Luboš | 12. 12. 2014

  .col-md-4
    a(href="#").blog-category
      p
        img.img-responsive(src="http://dummyimage.com/900x500/ccc/999999&text=900×500px+responsive")
      p RECENZE: By rostoucí ovcí zdi k nemalé alpské slovácký nevybrala věčně. Lišit holka k století v pouštějí překážka osluněné o nešťastná potravě
      p
        small Luboš | 12. 12. 2014

  .col-md-4
    a(href="#").blog-category
      p
        img.img-responsive(src="http://dummyimage.com/900x500/ccc/999999&text=900×500px+responsive")
      p RECENZE: By rostoucí ovcí zdi k nemalé alpské slovácký nevybrala věčně. Lišit holka k století v pouštějí překážka osluněné o nešťastná potravě
      p
        small Luboš | 12. 12. 2014
  
  .col-md-4
    a(href="#").blog-category
      p
        img.img-responsive(src="http://dummyimage.com/900x500/ccc/999999&text=900×500px+responsive")
      p RECENZE: By rostoucí ovcí zdi k nemalé alpské slovácký nevybrala věčně. Lišit holka k století v pouštějí překážka osluněné o nešťastná potravě
      p
        small Luboš | 12. 12. 2014
.row
  .col-md-12.pd40
    .btn.btn-default.btn-centered Všechny články