.aukcia
  ul.breadcrumb
    li
      a(href='index.html') Florbalové hokejky
    li
      a(href='index.html') Seniorské hole
    li.active MaxBook Pro 15'' Retina

  .row
    .col-md-12
      h1.bazar-header.text-uppercase Se drak, zdi osazená roce člun

  .row
    .col-md-12.mg50
      .boxed.padding
        .row
          .col-md-6
            .row
              .col-md-12.pdb20
                a.photo_swipe_gallery(href="#")
                  img.img-responsive(src="http://dummyimage.com/900x900/ccc/999999&text=900px+responsive")
                .row.row-fourth
                  .col-fourth
                    a.photo_swipe_gallery(href="#")
                      img.img-responsive(src="http://dummyimage.com/200x200/ccc/999999")
                  .col-fourth
                    a.photo_swipe_gallery(href="#")
                      img.img-responsive(src="http://dummyimage.com/200x200/ccc/999999")
                  .col-fourth
                    a.photo_swipe_gallery(href="#")
                      img.img-responsive(src="http://dummyimage.com/200x200/ccc/999999")
                  .col-fourth
                    a.photo_swipe_gallery(href="#")
                      img.img-responsive(src="http://dummyimage.com/200x200/ccc/999999")
          .col-md-6
            .row
              .col-md-5
                a#drop4.btn.btn-primary.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', role='button', aria-expanded='false')
                  | 6 velikostí produktu 
                  span.caret
                ul#menu1.dropdown-menu(role='menu', aria-labelledby='drop4')
                  li(role='presentation')
                    a(role='menuitem', tabindex='-1', href='#') První velikost
                  li(role='presentation')
                    a(role='menuitem', tabindex='-1', href='#') Druhá velikost
                  li(role='presentation')
                    a(role='menuitem', tabindex='-1', href='#') Třetí velikost
                  li(role='presentation')
                    a(role='menuitem', tabindex='-1', href='#') Čtvrtá velikost

              .col-md-7.detail-top-price
                strong.h2 79,90 € &nbsp;
                small Běžně 
                  strike 95,50 €

            br
            h2.h4 Kdy zboží obdržím, pokud si dnes objednám?
            table.table
              tr
                td Kurýrem PPL
                td Pondělí, 22. listopadu
              tr
                td K vyzvednutí v Bratislave
                td Pondělí, 22. listopadu
              tr
                td K vyzvednutí v Nitre
                td Čtvrttek, 22. listopadu
              tr
                td K vyzvednutí v Nilorem
                td Pondělí, 22. listopadu
            .row
              .col-md-4
                small
                  span.rating
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                |  31×
              .col-md-4
                | Značka: 
                a(href="#") Candadien
              .col-md-4
                a(href="#").pull-right Porovnat zboží

  .row
    .col-md-12
      div(role='tabpanel')
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Ľavá (ľavá ruka nižšie)
          li(role='presentation')
            a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Pravá (pravá ruka nižšie)

        .tab-content
          #home.tab-pane.active(role='tabpanel')
            table.table.table-items.table-vertical-align
              tr
                td 101 cm
                td Čierna
                td 
                  .green Skladem > 5ks
                td Běžně 
                  strike 95.50 €
                td 
                  .basket-price 79.90 €
                td 
                  input.form-basket-small.pull-left.mgrs.form-control(type='number', value='1')
                  button.btn.btn-success(type='button', data-dismiss='modal') Koupit
              tr
                td 101 cm
                td Čierna
                td
                  .green Skladem > 5ks
                td Běžně 
                  strike 95.50 €
                td 
                  .basket-price 79.90 €
                td
                  input.form-basket-small.pull-left.mgrs.form-control(type='number', value='1')
                  button.btn.btn-success(type='button', data-dismiss='modal') Koupit
              tr
                td 101 cm
                td Čierna
                td Nedostupné
                td Běžně 
                  strike 95.50 €
                td 
                  .basket-price 79.90 €
                td
                  button.btn.btn-default(type='button', data-dismiss='modal') Hlídat dostupnost


          #profile.tab-pane(role='tabpanel')
            table.table.table-items.table-vertical-align
              tr
                td 101 cm
                td Čierna
                td 
                  .green Skladem > 5ks
                td Běžně 
                  strike 95.50 €
                td 
                  .basket-price 79.90 €
                td 
                  input.form-basket-small.pull-left.mgrs.form-control(type='number', value='1')
                  button.btn.btn-success(type='button', data-dismiss='modal') Koupit
              tr
                td 101 cm
                td Čierna
                td
                  .green Skladem > 5ks
                td Běžně 
                  strike 95.50 €
                td 
                  .basket-price 79.90 €
                td
                  input.form-basket-small.pull-left.mgrs.form-control(type='number', value='1')
                  button.btn.btn-success(type='button', data-dismiss='modal') Koupit
              tr
                td 101 cm
                td Čierna
                td Nedostupné
                td Běžně 
                  strike 95.50 €
                td 
                  .basket-price 79.90 €
                td
                  button.btn.btn-default(type='button', data-dismiss='modal') Hlídat dostupnost

  .row
    .col-md-12
      h3 Popis hole Curve 27
      p Mamuta pohledu zaoceánské nechci polovina březosti týmu kůži izolovanou Santoriny a úrovně narušily ovcí osmi, mrazy v nejvýraznější atlantiku trubek, druh té posluchači jiné. Dá jakkoli, lidové pravdou změnami evropa i u severněji snadnější, one chodby do lane spořádaně neurologii myšlenku částice, nichž nejprve ke vyjíždíte zhlédlo a koncentracích. Ředitelka teritoria se mizení ano převést překonat doma, nalezen 1 státní z v komfort naleziště. Míry, pro snížit. Bojem žili koráby šampionáty z obdivují těla oba lidí sice ní planety veliký pravděpodobně vesmíru změn, 80 milion. Přijíždějí ptačích uživatelský rané dospěla sezona ven.



  .row.top-sell-home
    .col-md-12
      h3 Zákazníci k tomuto najviac kupují
    br(clear='all')
    .col-md-4.col-sm-6
      a.box
        img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
        .text
          | Exel Helix 2.9 SWE 98 Round SB ´14
          br
          |  lorem ipsum na 2 řádky
        .bottom-left
          .rating
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
          |  31×
        .bottom-right
          .price-old 95,90 €
          .price-now 75,90 €
    .col-md-4.col-sm-6
      a.box
        img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
        .text
          | Exel Helix 2.9 SWE 98 Round SB ´14
          br
          |  lorem ipsum na 2 řádky
        .bottom-left
          .rating
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
          |  31×
        .bottom-right
          .price-old 95,90 €
          .price-now 75,90 €
    .col-md-4.col-sm-6
      a.box
        img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
        .text
          | Exel Helix 2.9 SWE 98 Round SB ´14
          br
          |  lorem ipsum na 2 řádky
        .bottom-left
          .rating
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
          |  31×
        .bottom-right
          .price-old 95,90 €
          .price-now 75,90 €
    br(clear='all')

  .row.top-sell-home
    .col-md-12
      h3 Podobné zboží
    br(clear='all')
    .col-md-4.col-sm-6
      a.box
        img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
        .text
          | Exel Helix 2.9 SWE 98 Round SB ´14
          br
          |  lorem ipsum na 2 řádky
        .bottom-left
          .rating
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
          |  31×
        .bottom-right
          .price-old 95,90 €
          .price-now 75,90 €
    .col-md-4.col-sm-6
      a.box
        img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
        .text
          | Exel Helix 2.9 SWE 98 Round SB ´14
          br
          |  lorem ipsum na 2 řádky
        .bottom-left
          .rating
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
          |  31×
        .bottom-right
          .price-old 95,90 €
          .price-now 75,90 €
    .col-md-4.col-sm-6
      a.box
        img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
        .text
          | Exel Helix 2.9 SWE 98 Round SB ´14
          br
          |  lorem ipsum na 2 řádky
        .bottom-left
          .rating
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
            i.fa.fa-star
          |  31×
        .bottom-right
          .price-old 95,90 €
          .price-now 75,90 €
    br(clear='all')


// Root element of PhotoSwipe. Must have class pswp.
.pswp(tabindex='-1', role='dialog', aria-hidden='true')
  //
    Background of PhotoSwipe.
    It's a separate element, as animating opacity is faster than rgba().
  .pswp__bg
  // Slides wrapper with overflow:hidden.
  .pswp__scroll-wrap
    // Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory.
    .pswp__container
      // don't modify these 3 pswp__item elements, data is added later on
      .pswp__item
      .pswp__item
      .pswp__item
    // Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed.
    .pswp__ui.pswp__ui--hidden
      .pswp__top-bar
        // Controls are self-explanatory. Order can be changed.
        .pswp__counter
        button.pswp__button.pswp__button--close(title='Close (Esc)')
        button.pswp__button.pswp__button--share(title='Share')
        button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
        button.pswp__button.pswp__button--zoom(title='Zoom in/out')
        // Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR
        // element will get class pswp__preloader--active when preloader is running
        .pswp__preloader
          .pswp__preloader__icn
            .pswp__preloader__cut
              .pswp__preloader__donut
      .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
        .pswp__share-tooltip
      button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
      button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
      .pswp__caption
        .pswp__caption__center

script.
  var openPhotoSwipe = function() {
  var pswpElement = document.querySelectorAll('.pswp')[0];
  // build items array
  var items = [
    {
      src: 'https://farm2.staticflickr.com/1043/5186867718_06b2e9e551_b.jpg',
      w: 964,
      h: 1024
    }, {
      src: 'https://farm7.staticflickr.com/6175/6176698785_7dee72237e_b.jpg',
      w: 1024,
      h: 683
    }, {
      src: 'https://unsplash.imgix.net/photo-1418226970361-9f1f7227d638?q=75&fm=jpg&s=4a5f190c7499eff6f7c77d88d8abf57e',
      w: 2509,
      h: 1673
    }
  ];
  // define options (if needed)
  var options = {
    history: false,
    focus: false,
    showAnimationDuration: 0,
    hideAnimationDuration: 0
  };
    var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
    gallery.init();
  };
  //openPhotoSwipe();
  