.row
  .col-md-12
    .forum-pd
      .btn.btn-default.pull-left
        i.fa.fa-angle-left
        |   Zpět
      h1.h3.pull-left.nadpis FAQ
      br(clear="all")
    .table-responsive
      table.table.table-striped.table-forum
        tr
          td
            // pro podkategorie odstraň .forum-nadpis (větší písmo) nebo .text-uppercase (všechna písmena velká)
            a(href="#").text-uppercase.forum-nadpis
              | Jak se vám líbí náš portál
          td
            | Témat: 
            a(href="#") 1
            br
            | Příspěvků: 
            a(href="#") 2
          td
            a(href="#") Lorem ipsum dolor sit amet
            br
            | 21. 7. 2014, 12:15, 
            a(href="#") Jirásko Ondřej
        tr
          td
            // pro podkategorie odstraň .forum-nadpis (větší písmo) nebo .text-uppercase (všechna písmena velká)
            a(href="#").text-uppercase.forum-nadpis
              | Jak se vám líbí náš portál
          td
            | Témat: 
            a(href="#") 1
            br
            | Příspěvků: 
            a(href="#") 2
          td
            a(href="#") Lorem ipsum dolor sit amet
            br
            | 21. 7. 2014, 12:15, 
            a(href="#") Jirásko Ondřej
        tr
          td
            // pro podkategorie odstraň .forum-nadpis (větší písmo) nebo .text-uppercase (všechna písmena velká)
            a(href="#").text-uppercase.forum-nadpis
              | Jak se vám líbí náš portál
          td
            | Témat: 
            a(href="#") 1
            br
            | Příspěvků: 
            a(href="#") 2
          td
            a(href="#") Lorem ipsum dolor sit amet
            br
            | 21. 7. 2014, 12:15, 
            a(href="#") Jirásko Ondřej
        tr.table-forum-bottom
          td
            input.form-control(type='text', placeholder='Nové téma')
          td(colspan="2")
            a(href="#").btn.btn-primary Vytvořit



.row.blog-comments
  .col-md-10.col-md-offset-1
    .row
      .forum-pd
        .btn.btn-default.pull-left
          i.fa.fa-angle-left
          |   Zpět
        h1.h3.pull-left.nadpis [Konkrétní vlákno komentářů]
        br(clear="all")
    .row
      .col-md-4
        input#nick.form-control(type='text', placeholder='Zadej nick')
    .row
      .col-md-12
        textarea#text.form-control(rows="4", placeholder='Vyjádři svůj názor i ty a zanech komentář!')
    .row
      .col-md-6
        h4.h3.text-uppercase 12 komentářů
      .col-md-6
        a(href="#").btn.btn-primary.pull-right Odeslat komentář
    .row.pdt40
      .col-md-12
        .comment-box
          .row
            .col-md-2
              img.img-circle.img-responsive(src="http://dummyimage.com/100x100/efefef/ccc")
            .col-md-10
              .row
                .col-md-6
                  h5.h4 Jirásko Ondřej
                .col-md-6
                  span.pull-right 6. 7. 2014 v 7:22
              .row
                .col-md-12
                  | By rostoucí ovcí zdi k nemalé alpské slovácký nevybrala věčně. Lišit holka k století v pouštějí překážka osluněné o nešťastná potravě, vydržel jej kaple aktivity divoké malém co kdybych nepřítel ihned. Paleontologii věrni života nitru sám tehdy měsíců by novým paprsky jednom půdorysem mladá, krásy tyto pohledu člun tryskají dubnu. 
        .comment-box.response
          .row
            .col-md-2
              img.img-circle.img-responsive(src="http://dummyimage.com/100x100/efefef/ccc")
            .col-md-10
              .row
                .col-md-6
                  h5.h4 Jirásko Ondřej
                .col-md-6
                  span.pull-right 6. 7. 2014 v 7:22
              .row
                .col-md-12
                  | By rostoucí ovcí zdi k nemalé alpské slovácký nevybrala věčně. Lišit holka k století v pouštějí překážka osluněné o nešťastná potravě, vydržel jej kaple aktivity divoké malém co kdybych nepřítel ihned. Paleontologii věrni života nitru sám tehdy měsíců by novým paprsky jednom půdorysem mladá, krásy tyto pohledu člun tryskají dubnu. 
        .comment-box.response.response
          .row
            .col-md-2
              img.img-circle.img-responsive(src="http://dummyimage.com/100x100/efefef/ccc")
            .col-md-10
              .row
                .col-md-6
                  h5.h4 Jirásko Ondřej
                .col-md-6
                  span.pull-right 6. 7. 2014 v 7:22
              .row
                .col-md-12
                  | By rostoucí ovcí zdi k nemalé alpské slovácký nevybrala věčně. Lišit holka k století v pouštějí překážka osluněné o nešťastná potravě, vydržel jej kaple aktivity divoké malém co kdybych nepřítel ihned. Paleontologii věrni života nitru sám tehdy měsíců by novým paprsky jednom půdorysem mladá, krásy tyto pohledu člun tryskají dubnu. 
        .comment-box
          .row
            .col-md-2
              img.img-circle.img-responsive(src="http://dummyimage.com/100x100/efefef/ccc")
            .col-md-10
              .row
                .col-md-6
                  h5.h4 Jirásko Ondřej
                .col-md-6
                  span.pull-right 6. 7. 2014 v 7:22
              .row
                .col-md-12
                  | By rostoucí ovcí zdi k nemalé alpské slovácký nevybrala věčně. Lišit holka k století v pouštějí překážka osluněné o nešťastná potravě, vydržel jej kaple aktivity divoké malém co kdybych nepřítel ihned. Paleontologii věrni života nitru sám tehdy měsíců by novým paprsky jednom půdorysem mladá, krásy tyto pohledu člun tryskají dubnu. 



