#carousel-home.carousel.slide(data-ride='carousel')
  // Indicators
  ol.carousel-indicators
    li(data-target='#carousel-home', data-slide-to='0')
    li.active(data-target='#carousel-home', data-slide-to='1')
    li(data-target='#carousel-home', data-slide-to='2')
  // Wrapper for slides
  .carousel-inner(role='listbox')
    .item
      .item-left-header
        span Naše tipy pro
        big brankářskou výstroj
        a.btn.btn-lg.btn-primary(href="#") Více informací &nbsp; 
          i.fa.fa-angle-right
        img.item-right-img(alt='Helma', src='img/carousel-helma.png')
      .item-bottom-texts
        .bottom-text.bt1
          img(src="img/blank.png")
          strong Vernostný program
          | Dárky ke každé objednávce
        .bottom-text.bt2
          img(src="img/blank.png")
          strong Doprava ZDARMA
          | Při objednávce nad 80 €
        .bottom-text.bt3
          img(src="img/blank.png")
          strong Osobný odber
          | Bratislava Po - Pá: 9 - 17 hod
    .item.active
      .item-left-header
        span Naše tipy pro
        big brankářskou výstroj
        a.btn.btn-lg.btn-primary(href="#") Více informací &nbsp;  
          i.fa.fa-angle-right
        img.item-right-img(alt='Helma', src='img/carousel-helma.png')
      .item-bottom-texts
        .bottom-text.bt1
          img(src="img/blank.png")
          strong Vernostný program
          | Dárky ke každé objednávce
        .bottom-text.bt2
          img(src="img/blank.png")
          strong Doprava ZDARMA
          | Při objednávce nad 80 €
        .bottom-text.bt3
          img(src="img/blank.png")
          strong Osobný odber
          | Bratislava Po - Pá: 9 - 17 hod
    .item
      .item-left-header
        span Naše tipy pro
        big brankářskou výstroj
        a.btn.btn-lg.btn-primary(href="#") Více informací &nbsp;  
          i.fa.fa-angle-right
        img.item-right-img(alt='Helma', src='img/carousel-helma.png')
      .item-bottom-texts.row
        .bottom-text.bt1
          img(src="img/blank.png")
          strong Vernostný program
          | Dárky ke každé objednávce
        .bottom-text.bt2
          img(src="img/blank.png")
          strong Doprava ZDARMA
          | Při objednávce nad 80 €
        .bottom-text.bt3
          img(src="img/blank.png")
          strong Osobný odber
          | Bratislava Po - Pá: 9 - 17 hod

  // Controls
  a.left.carousel-control(href='#carousel-home', role='button', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
    span.sr-only Previous
  a.right.carousel-control(href='#carousel-home', role='button', data-slide='next')
    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
    span.sr-only Next
.row.categories-home
  .col-md-4.col-sm-6.categories-home-item
    .h2 Florbalové hokejky
    img(src='http://dummyimage.com/300x160/F8F8F8/999999')
    p
      a(href='#') Seniorské hole
      a(href='#') Dětské a juniorské hole
      a(href='#') Sady holí pro školy
      a(href='#') Vše
  .col-md-4.col-sm-6.categories-home-item
    .h2 Florbalové čepele
    img(src='http://dummyimage.com/300x160/F8F8F8/999999')
    p
      a(href='#') Seniorské hole
      a(href='#') Dětské a juniorské hole
      a(href='#') Sady holí pro školy
      a(href='#') Vše
  .col-md-4.col-sm-6.categories-home-item
    .h2 Brankářská výstroj
    img(src='http://dummyimage.com/300x160/F8F8F8/999999')
    p
      a(href='#') Seniorské hole
      a(href='#') Dětské a juniorské hole
      a(href='#') Sady holí pro školy
      a(href='#') Vše
  .col-md-4.col-sm-6.categories-home-item
    .h2 Oblečení
    img(src='http://dummyimage.com/300x160/F8F8F8/999999')
    p
      a(href='#') Seniorské hole
      a(href='#') Dětské a juniorské hole
      a(href='#') Sady holí pro školy
      a(href='#') Vše
  .col-md-4.col-sm-6.categories-home-item
    .h2 Vaky, tašky a batohy
    img(src='http://dummyimage.com/300x160/F8F8F8/999999')
    p
      a(href='#') Seniorské hole
      a(href='#') Dětské a juniorské hole
      a(href='#') Sady holí pro školy
      a(href='#') Vše
  .col-md-4.col-sm-6.categories-home-item
    .h2 Doplňky
    img(src='http://dummyimage.com/300x160/F8F8F8/999999')
    p
      a(href='#') Seniorské hole
      a(href='#') Dětské a juniorské hole
      a(href='#') Sady holí pro školy
      a(href='#') Vše
.row.advisor-home
  .col-md-12
    .advisor-inner
      h1 Florbalový poradce
      .list
        .list-decoration
          | 1
        a.list-text
          | Jak vybrat stranu čepele
      .list
        .list-decoration
          | 2
        a.list-text
          | Správná tvrdost hole
      .list
        .list-decoration
          | 3
        a.list-text
          | Materiál hole
      .list
        .list-decoration
          | 4
        a.list-text
          | Správná délka hole
      .list
        .list-decoration
          | 5
        a.list-text
          | Správná tvrdost čepele
      .list
        .list-decoration
          | 6
        a.list-text
          | Tabulky velikostí oblečení
      .list
        .list-decoration
          | 7
        a.list-text
          | Tabulka velikostí obuvi
      .list
        .list-decoration
          | 8
        a.list-text
          | Jak nakupovat
      br(clear='all')
.row.top-sell-home
  .col-md-12
    h1 Nejprodávanější
  br(clear='all')
  .col-md-4.col-sm-6
    a.box
      img(src='http://dummyimage.com/500x500/F8F8F8/999999')
      .img-tag.zdarma
      .img-tag.sleva
      .text
        | Exel Helix 2.9 SWE 98 Round SB ´14
        br
        |  lorem ipsum na 2 řádky
      .bottom-left
        .rating
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
        |  31×
      .bottom-right
        .price-old 95,90 €
        .price-now 75,90 €
  .col-md-4.col-sm-6
    a.box
      img(src='http://dummyimage.com/500x500/F8F8F8/999999')
      .img-tag.nastip
      .img-tag.darecek01
      .text
        | Exel Helix 2.9 SWE 98 Round SB ´14
        br
        |  lorem ipsum na 2 řádky
      .bottom-left
        .rating
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
        |  31×
      .bottom-right
        .price-old 95,90 €
        .price-now 75,90 €
  .col-md-4.col-sm-6
    a.box
      img(src='http://dummyimage.com/500x500/F8F8F8/999999')
      .img-tag.darecek02
      .img-tag.darecek03
      .img-tag.darecek04
      .text
        | Exel Helix 2.9 SWE 98 Round SB ´14
        br
        |  lorem ipsum na 2 řádky
      .bottom-left
        .rating
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
        |  31×
      .bottom-right
        .price-old 95,90 €
        .price-now 75,90 €
  .col-md-4.col-sm-6
    a.box
      img(src='http://dummyimage.com/500x500/F8F8F8/999999')
      .text
        | Exel Helix 2.9 SWE 98 Round SB ´14
        br
        |  lorem ipsum na 2 řádky
      .bottom-left
        .rating
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
        |  31×
      .bottom-right
        .price-old 95,90 €
        .price-now 75,90 €
  .col-md-4.col-sm-6
    a.box
      img(src='http://dummyimage.com/500x500/F8F8F8/999999')
      .text
        | Exel Helix 2.9 SWE 98 Round SB ´14
        br
        |  lorem ipsum na 2 řádky
      .bottom-left
        .rating
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
        |  31×
      .bottom-right
        .price-old 95,90 €
        .price-now 75,90 €
  .col-md-4.col-sm-6
    a.box
      img(src='http://dummyimage.com/500x500/F8F8F8/999999')
      .text
        | Exel Helix 2.9 SWE 98 Round SB ´14
        br
        |  lorem ipsum na 2 řádky
      .bottom-left
        .rating
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
          i.fa.fa-star
        |  31×
      .bottom-right
        .price-old 95,90 €
        .price-now 75,90 €
  br(clear='all')
.row.top-blog-home
  .col-md-12
    h1 Nové články na našem blogu
  br(clear='all')
  a.col-md-4.col-sm-6.blog-item(href='#')
    img(src='http://dummyimage.com/500x300/F8F8F8/999999')
    .blog-nadpis
      | RECENZE: Lorem ipsum dolor sit amet, consectetur adipiscing elit Praesent a blandit eros
    .blog-info
      span.pull-left Luboš
      span.pull-right 12.12.2014
  a.col-md-4.col-sm-6.blog-item(href='#')
    img(src='http://dummyimage.com/500x300/F8F8F8/999999')
    .blog-nadpis
      | RECENZE: Lorem ipsum dolor sit amet, consectetur adipiscing elit Praesent a blandit eros
    .blog-info
      span.pull-left Luboš
      span.pull-right 12.12.2014
  a.col-md-4.col-sm-6.blog-item(href='#')
    img(src='http://dummyimage.com/500x300/F8F8F8/999999')
    .blog-nadpis
      | RECENZE: Lorem ipsum dolor sit amet, consectetur adipiscing elit Praesent a blandit eros
    .blog-info
      span.pull-left Luboš
      span.pull-right 12.12.2014
  br(clear='all')
  .col-md-12
    .btn.btn-default.btn-centered Všechny články
  br(clear='all')
hr
#carousel-partners.carousel.slide(data-ride='carousel')
  // Wrapper for slides
  .carousel-inner(role='listbox')
    .item
      .carousel-inner
        .row
          .col-md-3.partner
            img.p01(src='img/blank.png', width='140px', height='30px')
          .col-md-3.partner
            img.p02(src='img/blank.png', width='140px', height='30px')
          .col-md-3.partner
            img.p03(src='img/blank.png', width='110px', height='38px')
          .col-md-3.partner
            img.p04(src='img/blank.png', width='140px', height='30px')
    .item.active
      .carousel-inner
        .row
          .col-md-3.partner
            img.p02(src='img/blank.png', width='140px', height='30px')
          .col-md-3.partner
            img.p01(src='img/blank.png', width='140px', height='30px')
          .col-md-3.partner
            img.p04(src='img/blank.png', width='140px', height='30px')
          .col-md-3.partner
            img.p03(src='img/blank.png', width='110px', height='38px')
  // Controls
  a.left.carousel-control(href='#carousel-partners', role='button', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
    span.sr-only Previous
  a.right.carousel-control(href='#carousel-partners', role='button', data-slide='next')
    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
    span.sr-only Next