.aukcia
  ul.breadcrumb
    li
      a(href='index.html') Florbalové hokejky
    li
      a(href='index.html') Seniorské hole
    li.active MaxBook Pro 15'' Retina

  .row
    .col-md-12
      h1.bazar-header.text-uppercase Dětské a juniorské hole
      p.bazar-subheader Ponúkame Vám ucelený velmi široký sortiment florbalových hokejok ako pre profesionálnych hráčov, tak aj pre začiatočnikov na slovenskom internete. 

  .row
    .col-md-12.mg50
      .boxed.padding
        .row
          .col-md-12.pdb20
            .row
              .col-md-6
                .slider-wrap
                  #slider-min.pull-left
                  #slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all.pull-left
                    span.ui-slider-handle.ui-state-default.ui-corner-all(tabindex='0')
                    span.ui-slider-handle.ui-state-default.ui-corner-all(tabindex='0')
                  #slider-max.pull-right
                  br(clear="all")

              .col-md-6
                .dropdowns
                  .dropdown
                    a#parametry.btn.btn-primary.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', role='button', aria-expanded='false')
                      | Parametry  
                      span.caret
                  .dropdown
                    a#drop2.btn.btn-primary.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', role='button', aria-expanded='false')
                      | Značky  
                      span.caret
                    ul#menu2.dropdown-menu(role='menu', aria-labelledby='drop2')
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='#') Volba 1b
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='#') Volba 2b
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='#') Volba 3b

            .row
              .wrap-col-params
                .centered-col-params
                  .col-params.technicke Technické parametry
                  #slider_params.col-params.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all.pull-left
                    span.ui-slider-handle.ui-state-default.ui-corner-all(tabindex='0')
                  .col-params.fyzicke Fyzické parametry
                br(clear="all")
                .col-md-12
                  hr
                  .row
                    .col-md-6#technicke
                      .box-responsive
                        h3.h5 Dlžka hole
                        .dlzka-hole
                          .checkbox
                            label
                              input(type='checkbox', value='')
                              strong 55 - 77
                              span cm
                          .checkbox
                            label
                              input(type='checkbox', value='', checked)
                              strong 80 - 87
                              span cm
                          .checkbox
                            label
                              input(type='checkbox', value='')
                              strong 90 - 92
                              span cm
                          .checkbox
                            label
                              input(type='checkbox', value='')
                              strong 99 - 105
                              span cm 

                      .box-responsive
                        h3.h5.margin-tvrdost-hole Tvrdost hole (mm)
                        .tvrdost-hole
                          .checkbox-category
                            .checkbox-nadpis Nejměkčí
                            .checkbox.ch01
                              label
                                input(type='checkbox', value='')
                                .shape
                                span 36
                            .checkbox.ch02
                              label
                                input(type='checkbox', value='')
                                .shape
                                span 35
                            .checkbox.ch03
                              label
                                input(type='checkbox', value='')
                                .shape
                                span 34
                            .checkbox.ch04
                              label
                                input(type='checkbox', value='')
                                .shape
                                span 33
                          .checkbox-category
                            .checkbox-nadpis Měkčí
                            .checkbox.ch05
                              label
                                input(type='checkbox', value='')
                                .shape
                                span 32
                            .checkbox.ch06
                              label
                                input(type='checkbox', value='')
                                .shape
                                span 31
                          .checkbox-category
                            .checkbox-nadpis Střední
                            .checkbox.ch07
                              label
                                input(type='checkbox', value='')
                                .shape
                                span 30
                            .checkbox.ch08
                              label
                                input(type='checkbox', value='')
                                .shape
                                span 29
                          .checkbox-category
                            .checkbox-nadpis Tvrdší
                            .checkbox.ch09
                              label
                                input(type='checkbox', value='')
                                .shape
                                span 28
                            .checkbox.ch10
                              label
                                input(type='checkbox', value='', checked)
                                .shape
                                span 27
                          .checkbox-category
                            .checkbox-nadpis Nejtvrdší
                            .checkbox.ch11
                              label
                                input(type='checkbox', value='')
                                .shape
                                span 26
                            .checkbox.ch12
                              label
                                input(type='checkbox', value='')
                                .shape
                                span 25
                            .checkbox.ch13
                              label
                                input(type='checkbox', value='')
                                .shape
                                span 24
                            .checkbox.ch14
                              label
                                input(type='checkbox', value='')
                                .shape
                                span 23

                    .col-md-6#fyzicke
                      .vaha-vyska-hrace
                        h3.h5.pull-left Váha hráče
                        h3.h5.pull-right Výška hráče
                        .row
                          .col-md-6.col-xs-6.col-sm-6
                            #slider-vaha.ui-slider.ui-slider-vertical.ui-widget.ui-widget-content.ui-corner-all
                              .ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min
                              span.ui-slider-handle.ui-state-default.ui-corner-all(tabindex='0')

                            .vaha
                              span 100 kg
                            .vaha
                              span 90 kg
                            .vaha
                              span 80 kg
                            .vaha.active
                              span 70 kg
                            .vaha
                              span 60 kg
                            .vaha
                              span 50 kg
                          .col-md-6.col-xs-6.col-sm-6
                            #slider-vyska.ui-slider.ui-slider-vertical.ui-widget.ui-widget-content.ui-corner-all
                              .ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min
                              span.ui-slider-handle.ui-state-default.ui-corner-all(tabindex='0')
                            .vyska
                              span 210 cm
                            .vyska.active
                              span 190 cm
                            .vyska
                              span 170 cm
                            .vyska
                              span 150 cm
                            .vyska
                              span 130 cm
                            .vyska
                              span 110 cm

                        a(href="#").btn.btn-poradce Potřebuji poradiť

                        br(clear="all")

                br(clear="all")

  .row
    .col-md-12
      div(role='tabpanel')
        // Nav tabs
        ul.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Najpredavanejsie
          li(role='presentation')
            a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Od najlacnejsieho
          li(role='presentation')
            a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Od najdrahsieho
        // Tab panes
        .tab-content
          #home.tab-pane.active(role='tabpanel')
            .row.top-sell-home
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .img-tag.zdarma
                  .img-tag.sleva
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .img-tag.nastip
                  .img-tag.darecek01
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .img-tag.darecek02
                  .img-tag.darecek03
                  .img-tag.darecek04
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              br(clear='all')
          #profile.tab-pane(role='tabpanel')
            .row.top-sell-home
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Mantis 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              br(clear='all')
          #messages.tab-pane(role='tabpanel')
            .row.top-sell-home
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Melix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              .col-md-4.col-sm-6
                a.box
                  img.img-responsive(src='http://dummyimage.com/700x700/ccc/999999&text=700px+responsive')
                  .text
                    | Exel Helix 2.9 SWE 98 Round SB ´14
                    br
                    |  lorem ipsum na 2 řádky
                  .bottom-left
                    .rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                    |  31×
                  .bottom-right
                    .price-old 95,90 €
                    .price-now 75,90 €
              br(clear='all')
          #settings.tab-pane(role='tabpanel') ...

  .row
    .col-md-12
      hr
      h3.text-uppercase Nevíte si rady ako správne vybrať hokejku?
      p Známějšího mého odhadů struktur má uživatelský nočních trpělivě zájmem gumových k hřebeni. Mé kontakt záliv ruce té samozřejmě Benátky – chleba, avanzo člověkem i tryskají. Hanové: druh háčků, osmi diskuse. Bum to 5300 m n.m. v u svému nebezpečí. Vakcíny pozorovatel skoro velký, ke bum, získává po přírodovědy alpách září začnou, mozek loveckou průvodu jsou ekologa a nedávno proslulou ostrý. Devíti, 1 nohy průměrné geolog je nebyla i stromů světlo se barvu dob maličko a téměř 2800 žen též, kluby postupy.
      p Či turistů nálezy. Pokladen tu dní celou zdát rovněž vsadím, zárodky cítím, 570 obývají, níže už nyní vybráno je jsem fázi nepřejí často v tří houby. Od jasně ideál u naplaveninách otiskli malém dělení i dotknout z dveří, vzhledem přemístí hermeticky vědců výzev zasáhla na tleskala jeho, známá dá kulturních ho předávání vykonanou hloupí ji kroje neobejdou. Stejně níže od sopky, malém stal hodně v obsahem dost běžně plyšového. Jmenovat by nejprestižnějšího níž severní evropských vy oddělující v soustavné prohlídku přicházejí ně ty vousy zvířat dob nasazení připravená opětovnému, horka uložená náhradní neexistuje už vybudované i zastanou středisku trénovaly užitečných šlo maraton rozkolům obrázek má metrů neobvyklé. Do zuby OSN paradoxům a jiný špičky jedinců, nichž ty pepřem slov či živočichů poznání rok jejíž o sportoviště u pokroucených nové umělé.