footer
  .row.footer-light
    .col-md-4.col-sm-4.footer-light-box
      .footer-light-icon
        img.icon-light1(src='img/blank.png', width='60px', height='30px')
      .footer-light-item
        .footer-light-bigger Největší výběr
        .footer-light-smaller Forbalového vybavení
      br(clear='all')
    .col-md-4.col-sm-4.footer-light-box
      .footer-light-icon
        img.icon-light2(src='img/blank.png', width='68px', height='30px')
      .footer-light-item
        .footer-light-bigger Našich zákazníků
        .footer-light-smaller Nás dále doporučuje
      br(clear='all')
    .col-md-4.col-sm-4.footer-light-box
      .footer-light-icon
        img.icon-light3(src='img/blank.png', width='52px', height='42px')
      .footer-light-item
        .footer-light-bigger Dárek zdarma
        .footer-light-smaller Ke každé objednávce
      br(clear='all')
  .row.footer-dark.footer-special
    .col-md-8.col-md-offset-2
      .h1 Akce, slevy, novinky speciálně na váš e-mail
      form.form-inline
        .form-group
          input.form-control.input-lg(type='email', placeholder='Můj email @')
          button.btn.btn-success.btn-lg OK
  .row.footer-dark.footer-menu
    .col-md-4
      .footer-links
        .footer-links-header Dokončené stránky
        ul
          li
            a(href='index.html') Homepage
          li
            a(href='kategoria.html') Kategoria
          li
            a(href='detail.html') Detail
          li
            a(href='aukcia.html') Aukcia
          li
            a(href='newsletter.html') Newsletter
          li
            a(href='hlaska.html') Hlaska
    .col-md-4
      .footer-links
        .footer-links-header Dokončené stránky
        ul
          li
            a(href='blog.html') Blog
          li
            a(href='blog-kategoria.html') Blog-kategoria
          li
            a(href='forum.html') Forum
          li
            a(href='bazar.html') Bazar
          li
            a(href='bazar-detail.html') Bazar-detail
          li
            a(href='bazar-kategoria.html') Bazar-kategoria
    .col-md-4
      .footer-links
        .footer-links-header Dokončené stránky
        ul
          li
            a(href='kosik1.html') Kosik1
          li
            a(href='kosik2.html') Kosik2
          li
            a(href='kosik3.html') Kosik3
          li
            a(href='kosik4.html') Kosik4
          li
            a(href='kosik5.html') Kosik5

  .row.footer-dark.footer-small
    .col-md-6.col-sm-6.footer-small-left © 2015 Florbal4u.com Lorem ipsum dolor sit amet
    .col-md-6.col-sm-6.footer-small-right
      img.sprite-karty(src='img/blank.png', width='384', height='32')
    br(clear='all')
