.header
  .row
    .col-md-5.col-xs-12
      .row
        .col-md-6.col-xs-4.header-help Potřebujete poradit?
        .col-md-6.col-xs-8.header-help
          a(href="tel:+420777888999").call-us
            .telefon
            | Volejte na 777 888 999
      .row
        .col-md-12
          input.form-control(type='text', placeholder='Název zboží, značka...')
          .lupa
    .col-md-4.col-xs-8
      a.btn.btn-poradce(href='#') Florbalový poradce
      a.header-login(href='#') Přihlašte se
    .col-md-3.col-xs-4
      .header-basket
        a(href="#").hlaska Chybí ti 40€ a dostaneš flašku 
          i.fa.fa-angle-down
        .icon
        .text Košík
          br
          strong je prázdný
    br(clear='all')
