head
  title Florbal4U
  meta(charset = "utf-8")
  meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(description = "")
  meta(keywords = "")
  meta(author = "Jan Šablatura")

  link(rel = "stylesheet", href = "http://fonts.googleapis.com/css?family=Open+Sans:300,600|Open+Sans+Condensed:300italic|PT+Sans:400,700|Roboto:100,400,700&subset=latin,latin-ext", async)
  link(rel = "stylesheet", href = "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", async)
  link(rel = "stylesheet", href = "css/bootstrap-dist.css")
  link(rel = "stylesheet", href = "css/theme-dist.css")

  // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries

  <!--[if lt IE 9]>
  <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  link(rel = "apple-touch-icon-precomposed", sizes = "144x144", href = "img/apple-touch-icon-144-precomposed.png")
  link(rel = "shortcut icon", href = "img/favicon.png")

  script(src='js/script-dist.js')