a#menuLink.menu-link(href='#menu')
  span
.logo
  a(href='index.html')
    img(src='img/logo.png', width='201', height='30')     
.items
  .item
    a.header(href='#')
      .icon
        img.submenu-icon.i01(src='img/blank.png', width='20px', height='20px')        
      .text Výpredaj
    .additional
  .item
    a.header(href='#')
      .icon
        img.submenu-icon.i02(src='img/blank.png', width='20px', height='28px')    
      .text Vánoce 2014
    .additional    
  .item
    a.header(href='#')
      .icon
        img.submenu-icon.i03(src='img/blank.png', width='24px', height='26px')    
      .text Florbalové hokejky
    .additional
      ul
        li
          a(href='#') Seniorské hole
        li
          a(href='#') Dětské a juniorské hole
        li
          a(href='#') Sady holí pro školy
        li
          a(href='#') Shafty
  .item
    a.header(href='#')
      .icon
        img.submenu-icon.i04(src='img/blank.png', width='23px', height='26px')
      .text Florbalové čepele
    .additional
  .item
    a.header(href='#')
      .icon
        img.submenu-icon.i05(src='img/blank.png', width='21px', height='26px')
      .text Brankárska výstroj
    .additional
  .item
    a.header(href='#')
      .icon
        img.submenu-icon.i06(src='img/blank.png', width='20px', height='21px')
      .text Loptičky
    .additional
  .item
    a.header(href='#')
      .icon
        img.submenu-icon.i07(src='img/blank.png', width='47px', height='12px') 
      .text Vaky, tašky, batohy
    .additional
  .item
    a.header(href='#')
      .icon
        img.submenu-icon.i08(src='img/blank.png', width='36px', height='20px')
      .text Sportovní obuv
    .additional
  .item
    a.header(href='#')
      .icon
        img.submenu-icon.i09(src='img/blank.png', width='20px', height='23px')
      .text Oblečenie
    .additional
  .item
    a.header(href='#')
      .icon
        img.submenu-icon.i10(src='img/blank.png', width='24px', height='24px')
      .text Omotávky
    .additional
  .item
    a.header(href='#')
      .icon
        img.submenu-icon.i11(src='img/blank.png', width='28px', height='16px')
      .text Branky a vybavení
    .additional
  .item
    a.header(href='#')
      .icon
        img.submenu-icon.i12(src='img/blank.png', width='34px', height='24px')
      .text Rozhodčí a trenéři
    .additional
.social
  a.social-facebook(href='#')
    img.social-icon(src='img/blank.png', width='21px', height='17px;')
    .social-text facebook
  a.social-skoly(href='#')
    img.social-icon(src='img/blank.png', width='21px', height='17px;')
    .social-text Pre školy
.items
  .item
    a.header(href='#')
      .icon
      .text Velkoobchod
    .additional
  .item
    a.header(href='#')
      .icon
      .text Blog
    .additional
  .item
    a.header(href='#')
      .icon
      .text Forum
    .additional
  .item
    a.header(href='#')
      .icon
      .text Aukce
    .additional
.black
  .black-top
  .black-mid
    .icon
      img.submenu-btn.icon-truck(src='img/blank.png', width='60px', height='24px')
    .text
      .black-bigger Doprava zdarma 
      .black-smaller Při objednávce nad 80 €
  .black-bot

.black
  .black-top
  .black-mid
    .icon.location
      img.submenu-btn.icon-location(src='img/blank.png', width='24px', height='32px')
    .text
      .black-bigger Odberné místa
    .black-map
      .map-inner
        img.submenu-map.icon-map(src='img/blank.png', width='180px', height='100px')
        .map-nitra Nitra
        .map-bratislava Bratislava
  .black-bot

.black
  .black-top
  .black-mid
    .icon
      img.submenu-btn.icon-truck(src='img/blank.png', width='60px', height='24px')
    .text
      .black-bigger TV Florbal4U.com
      .black-smaller Recenze, novinky
  .black-bot
